* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-size: contain;
}

h3 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
    color: #563C2D;
}

#slide1 {
    background: url("src/img/splash.jpg") 50% 0 no-repeat fixed;
    color: #d1d4d6;
    height: 600px;
    padding: 50px 0 260px 0;
    background-size: cover;
}

#slide2 {
    background-color: white;
    color: #2c1310;
    height: 900px;
    overflow: hidden;
    padding: 50px 0;
}

#slide3 {
    background: url('src/img/prism.png') 50% 0 no-repeat fixed;
    color: #2c1310;
    height: 800px;
    padding: 150px 0 0 0;
    background-size: cover;
}

#slide4 {
    background-color: white;
    color: #2c1310;
    padding: 100px 0;
}

#slide5 {
    background: url("src/img/splash2.jpg") 50% 0 no-repeat fixed;
    height: 600px;
    padding: 100px 0;
    color: #d1d4d6;
    background-size: cover;
}

#profilepic {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

#title-header {
    color: white;
    font-size: 60px;
}

#subtitle {
    color: #d1d4d6;
    font-size: 40px;
}

img#techmuseum {
    max-width: 200px;
    max-height: 200px;
    margin: 40px 0 10px 50px;
}

img.tech {
    width: 35px;
    height: 35px;
}

.font-raleway {
    font-family: "Raleway";
}

.font-montserrat {
    font-family: "Montserrat"
}

.card-header {
    color: #2c1310;
    font-size: 30px;
    font-weight: normal;
    border: none;
    margin-bottom: 20px;
}

.card-title {
    font-size: 20px;
}

.card-1 {
    border-radius: 20px 0 0 20px;
}

.card-2 {
    border-radius: 0px;
}

.card-3 {
    border-radius: 0 20px 20px 0;
}

.font-color-muted {
    color: #563C2D;
}

.card-footer {
    background-color: white;
    border: none;
}

#design-tech, #dev-tech, #dream-tech {
    margin-top: 10px;
}

#textbox1 {
    margin-bottom: 150px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 25px #968171, -10px -10px 25px #968171, 10px -10px 25px #968171, -10px 10px 25px #968171;
}

#textbox2 {
    margin-top: 200px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 25px #968171, -10px -10px 25px #968171, 10px -10px 25px #968171, -10px 10px 25px #968171;
}

img.belt {
    height: 80px;
    width: 80px;
    border: 1px solid #968171;
    margin-bottom: 10px;
}

img#dojo {
    margin: 20px 50px;
}

#bio {
    background: transparent;
}

#callout-linkedin {
    width: 180px;
    height: auto;
}

.project-thumb {
    opacity: 0.5;
}

.project-thumb:hover {
    opacity: 1.0;
}